{% extends 'base.html' %}


{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us....</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To Codemy Ecommerce....</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify"><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis tellus non dui hendrerit
                    tristique a
                    nec nisl. Aenean
                    pellentesque a dui eget finibus. Donec aliquam eleifend nulla, ut vestibulum magna tempor vitae.
                    Nulla
                    ultrices sapien
                    nec mollis pretium. Nulla ut tellus luctus nibh eleifend gravida. Quisque suscipit a mauris ut
                    luctus.
                    Vestibulum
                    sollicitudin, leo et feugiat lacinia, arcu mi vestibulum tellus, et blandit massa risus eu sem.
                    Morbi
                    vitae maximus
                    neque. Donec fermentum ante nec nulla blandit, vel accumsan tellus varius. Quisque pharetra ipsum
                    dui,
                    non lobortis
                    sapien vulputate a. Etiam sem nisi, finibus nec sapien nec, commodo viverra massa.
                    <br><br>

                    Mauris elit ante, malesuada et accumsan non, mattis vitae tortor. Class aptent taciti sociosqu ad
                    litora
                    torquent per
                    conubia nostra, per inceptos himenaeos. In neque lectus, cursus sed tempus id, varius ac nulla.
                    Vestibulum turpis ex,
                    scelerisque non mauris in, ultricies cursus erat. Maecenas eleifend aliquam risus. Morbi volutpat
                    vulputate commodo.
                    Donec lobortis orci vel diam lacinia, eu gravida erat suscipit. Nunc non cursus massa, sed placerat
                    purus. Sed sodales
                    ligula odio, ac vestibulum quam bibendum quis.
                    <br><br>

                    Maecenas et pharetra mauris. Nam imperdiet ligula felis, at semper erat tincidunt scelerisque.
                    Suspendisse molestie eu
                    sem a fringilla. Pellentesque mollis, orci congue volutpat euismod, mauris purus eleifend leo, sed
                    gravida dui diam sit
                    amet ante. Cras eros mi, dignissim sit amet tortor tincidunt, blandit gravida ligula. Fusce
                    sollicitudin
                    feugiat nisi
                    vitae suscipit. Donec sollicitudin pellentesque ex quis fermentum. Sed tristique velit eget justo
                    accumsan maximus.
                    Donec eu est vel quam malesuada varius. Aenean eu leo lectus. Proin elementum, dui et faucibus
                    tincidunt, enim lorem
                    pellentesque lectus, id mattis nunc risus id lectus. Ut mollis arcu non est dictum feugiat. Mauris
                    nibh
                    erat, rhoncus id
                    faucibus sit amet, porttitor a est. Morbi justo arcu, tincidunt eu tellus eu, iaculis convallis
                    enim.
                    Maecenas id eros
                    vel tortor gravida vulputate in in orci.
                </p>
                <br><br>
            </div>
        </center>
    </div>
</div>

{% endblock %}